
/* Media Queries */
@media (max-width: 768px) {
    nav ul li a {
        font-size: 10px;
    }
    
    #bienvenida_imagen_header {
        height: 150px;
    }

    .section-content h2 {
        font-size: 24px;
    }

    .section-content p {
        font-size: 14px;
    }

    .valor h3 {
        font-size: 18px;
    }

    .valor p {
        font-size: 12px;
    }

    #services {
        grid-template-columns: 1fr;
        padding: 10px;
    }

    .service {
        margin-bottom: 20px;
    }

    .service img {
        height: auto;
    }

    .service-content {
        grid-template-columns: 1fr;
    }

    .service-content img {
        height: auto;
    }

    #socios {
        grid-template-columns: 1fr;
    }

    .socio {
        flex-direction: column;
    }

    .socio img {
        margin: 0 0 20px 0;
    }

    .socio-info h2 {
        font-size: 20px;
    }

    .socio-info p {
        font-size: 14px;
    }
}

/* Tablet entre 768 y 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
    nav ul li a {
        font-size: 13px;
    }

    #bienvenida_imagen_header {
        height: 220px;
    }

    .section-content h2 {
        font-size: 28px;
    }

    .section-content p {
        font-size: 15px;
    }

    .valor h3 {
        font-size: 18px;
    }

    .valor p {
        font-size: 13px;
    }

    #services {
        grid-template-columns: repeat(2, 1fr);
        padding: 15px;
    }

    .service {
        margin-bottom: 20px;
    }

    .service img {
        height: auto;
    }

    .service-content {
        grid-template-columns: 1fr 1fr;
    }

    .service-content img {
        height: auto;
    }

    #socios {
        grid-template-columns: 1fr 1fr;
    }

    .socio {
        flex-direction: column;
    }

    .socio img {
        margin: 0 0 20px 0;
    }

    .socio-info h2 {
        font-size: 24px;
    }

    .socio-info p {
        font-size: 16px;
    }
}

/* Desktop */
@media (min-width: 1025px) {
    #socios {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .socio {
        flex-direction: column;
    }

    .socio img {
        margin: 0 0 20px 0;
    }

    .socio-info h2 {
        font-size: 24px;
    }

    .socio-info p {
        font-size: 16px;
    }
}
