/* Estilos para la página de servicios */
.service-section {
    margin: 20px;
    padding: 20px;
    background: #2c3e50;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  
    .service-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
  
      div {
        flex: 1;
      }
  
      h2 {
        font-size: 24px;
        margin-bottom: 10px;
        color: #1abc9c;
        border-bottom: 2px solid #1abc9c;
        padding-bottom: 5px;
      }
  
      p {
        font-size: 16px;
        text-align: justify;
        color: #d3d3d3;
        line-height: 1.6;
      }
  
      img {
        width: 100%;
        height: auto;
        max-height: 450px;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      }
    }
  }
  
  
